@charset "UTF-8";
/* CSS Document */
.topnav{
	background-color:deepskyblue;
	overflow: hidden;
}
.topnav a {
	float:left;
	color:white;
	text-align: center;
	padding:14px 16px 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 200;
	
}

.topnav a:hover{
	background-color:white;
	color:orangered;
}


.topnav a.active{
	background-color:black;
	color:white;
}

body, html{
	height:90%;
}

.hero-image{
	background-image: url("images/oie_9161647KUtmEJAk.jpg");
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	border:solid;
	border-width: 5px;
	border-color:darkgray;
}

.hero-text{
	text-align:justify;
	position: absolute;
	top:10%;
    left: 65%;
    transform:translate(-50%, -50%);
	color:orangered;
	font-size: 24px;
	background-color:rgba(236,242,243,0.5);
	text-shadow: 1px 1px 1px black;
}

h2{
	color:orangered;
	background-color:rgba(200,208,210,0.5);
	font-size:22pt;
	font-style: italic;
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
	
}

body{
	background-color: rgba(200,208,210,0.5)
}


p{
	color:black;
	font-size:20px;
	font-weight:200;
	
}

#announcements{
	color:black;
	font-size:20px;
	font-weight: 100;

}

footer{
	color:black;
	background-color:whitesmoke;
	text-shadow: 1px 1px 1px white;
	text-align: center;
	padding: 16px 10px 10px 16px;
}

h3{
	color:orangered;
	background-color:whitesmoke;
	font-size:20pt;
	text-decoration: nose;
	text-shadow: 1px 1px 1px white;
    font-style: italic;
}


h5{
	color:black;
	font-family:alice;
	font-size: 16pt;
	font-weight: 300;
}